    {% extends 'base.html' %}
        {% block head %}
            <title>
            lastevent - Home
            </title>
         {% endblock %}

{% block nav-button %} <li class="nav-item"><a href="/logged" class="nav-link" id="link-1">{{ user.username }}</a></li> {% endblock %}



    {% block content %}
        <h1>Strona główna</h1>
        <a href="/create_obit">Dodaj nekrolog</a>
        <br>
        <br>
        <form action="/search_obit" method="get">
          <input name="q" type="text" placeholder="Search...">
            <button type="submit">szukaj</button>
        </form>
    {% endblock %}
