    {% extends 'base.html' %}
        {% block head %}
            <title>
            lastevent - Home
            </title>
         {% endblock %}
{% block nav-button %}
{%  if user.username %}
 <li class="nav-item"><a href="/logged" class="nav-link" id="link-1">{{ user.username }}</a></li>
{% else %}
<li class="nav-item"><a href="/account/login" class="nav-link" id="link-1">Zaloguj</a></li>
{% endif %}
{% endblock %}


    {% block content %}
        <br>
        <form action="/search_obit" method="get">
          <input name="q" type="text" placeholder="Search...">
        <button type="submit">szukaj</button>
        </form>
        <br>
        <h4>Wyniki wyszukiwania:</h4>
        <br>
        <ul>
        {% for obit in obit_set %}
            <li> <a href = '{{ obit.get_absolute_url }}' >{{ obit.first_name }} {{ obit.last_name }} </a>
                <br> {{ obit.born_date }} - {{ obit.death_date }}</li>
        {% endfor %}
        </ul>
    {% endblock %}
